<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A</key>
	<array>
		<dict>
			<key>name</key>
			<string>阿珍</string>
			<key>gender</key>
			<string>女</string>
			<key>image</key>
			<string>阿珍.png</string>
			<key>phoneNumber</key>
			<string>18500983697</string>
		</dict>
	</array>
	<key>C</key>
	<array>
		<dict>
			<key>name</key>
			<string>曹江涛</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>曹江涛.png</string>
			<key>phoneNumber</key>
			<string>15574843478</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陈纪东</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>陈纪东.png</string>
			<key>phoneNumber</key>
			<string>13910707088</string>
		</dict>
	</array>
	<key>F</key>
	<array>
		<dict>
			<key>name</key>
			<string>冯超</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>冯超.png</string>
			<key>phoneNumber</key>
			<string>15235963164</string>
		</dict>
	</array>
	<key>G</key>
	<array>
		<dict>
			<key>name</key>
			<string>郜宇</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>郜宇.png</string>
			<key>phoneNumber</key>
			<string>15532878879</string>
		</dict>
		<dict>
			<key>name</key>
			<string>郭海龙</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>郭海龙.png</string>
			<key>phoneNumber</key>
			<string>15006162182</string>
		</dict>
	</array>
	<key>H</key>
	<array>
		<dict>
			<key>name</key>
			<string>何国良</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>何国良.png</string>
			<key>phoneNumber</key>
			<string>18642606586</string>
		</dict>
		<dict>
			<key>name</key>
			<string>韩宗道</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>韩宗道.png</string>
			<key>phoneNumber</key>
			<string>18919917993</string>
		</dict>
		<dict>
			<key>name</key>
			<string>何金山</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>何金山.png</string>
			<key>phoneNumber</key>
			<string>13569417800</string>
		</dict>
		<dict>
			<key>name</key>
			<string>黄雪阳</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>黄雪阳.png</string>
			<key>phoneNumber</key>
			<string>15518832966</string>
		</dict>
		<dict>
			<key>name</key>
			<string>黄韬</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>黄韬.png</string>
			<key>phoneNumber</key>
			<string>13574812464</string>
		</dict>
	</array>
	<key>J</key>
	<array>
		<dict>
			<key>name</key>
			<string>冀柳冲</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>冀柳冲.png</string>
			<key>phoneNumber</key>
			<string>18237216925</string>
		</dict>
	</array>
	<key>L</key>
	<array>
		<dict>
			<key>name</key>
			<string>刘广华</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>刘广华.png</string>
			<key>phoneNumber</key>
			<string>18701697419</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘晓雷</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>刘晓雷.png</string>
			<key>phoneNumber</key>
			<string>18317722680</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘迪</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>刘迪.png</string>
			<key>phoneNumber</key>
			<string>15188453225</string>
		</dict>
		<dict>
			<key>name</key>
			<string>刘长兴</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>刘长兴.png</string>
			<key>phoneNumber</key>
			<string>18697304626</string>
		</dict>
		<dict>
			<key>name</key>
			<string>李俊利</string>
			<key>gender</key>
			<string>女</string>
			<key>image</key>
			<string>李俊利.png</string>
			<key>phoneNumber</key>
			<string>18365453467</string>
		</dict>
		<dict>
			<key>name</key>
			<string>柳现雷</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>柳现雷.png</string>
			<key>phoneNumber</key>
			<string>15006696004</string>
		</dict>
	</array>
	<key>M</key>
	<array>
		<dict>
			<key>name</key>
			<string>苗仁龙</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>苗仁龙.png</string>
			<key>phoneNumber</key>
			<string>18317722683</string>
		</dict>
	</array>
	<key>O</key>
	<array>
		<dict>
			<key>name</key>
			<string>欧阳斌</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>欧阳斌.png</string>
			<key>phoneNumber</key>
			<string>15115843534</string>
		</dict>
	</array>
	<key>Q</key>
	<array>
		<dict>
			<key>name</key>
			<string>曲聪</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>曲聪.png</string>
			<key>phoneNumber</key>
			<string>13716572407</string>
		</dict>
	</array>
	<key>S</key>
	<array>
		<dict>
			<key>name</key>
			<string>孙宗凯</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>孙宗凯.png</string>
			<key>phoneNumber</key>
			<string>18666888888</string>
		</dict>
		<dict>
			<key>name</key>
			<string>宋婷婷</string>
			<key>gender</key>
			<string>女</string>
			<key>image</key>
			<string>宋婷婷.png</string>
			<key>phoneNumber</key>
			<string>15201177237</string>
		</dict>
		<dict>
			<key>name</key>
			<string>宋建军</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>宋建军.png</string>
			<key>phoneNumber</key>
			<string>15235381571</string>
		</dict>
		<dict>
			<key>name</key>
			<string>宋春利</string>
			<key>gender</key>
			<string>女</string>
			<key>image</key>
			<string>宋春利.png</string>
			<key>phoneNumber</key>
			<string>15110692178</string>
		</dict>
	</array>
	<key>T</key>
	<array>
		<dict>
			<key>name</key>
			<string>唐海潮</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>唐海潮.png</string>
			<key>phoneNumber</key>
			<string>15690207670</string>
		</dict>
		<dict>
			<key>name</key>
			<string>陶庆玮</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>陶庆玮.png</string>
			<key>phoneNumber</key>
			<string>13955172998</string>
		</dict>
	</array>
	<key>W</key>
	<array>
		<dict>
			<key>name</key>
			<string>仵银志</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>仵银志.png</string>
			<key>phoneNumber</key>
			<string>18317713434</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王佳伟</string>
			<key>gender</key>
			<string>女</string>
			<key>image</key>
			<string>王佳伟.png</string>
			<key>phoneNumber</key>
			<string>13862849911</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王新炫</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>王新炫.png</string>
			<key>phoneNumber</key>
			<string>15343723577</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王林</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>王林.png</string>
			<key>phoneNumber</key>
			<string>15974243504</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王灵敏</string>
			<key>gender</key>
			<string>女</string>
			<key>image</key>
			<string>王灵敏.png</string>
			<key>phoneNumber</key>
			<string>15110687569</string>
		</dict>
		<dict>
			<key>name</key>
			<string>王闯</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>王闯.png</string>
			<key>phoneNumber</key>
			<string>18317713382</string>
		</dict>
	</array>
	<key>X</key>
	<array>
		<dict>
			<key>name</key>
			<string>徐洋</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>徐洋.png</string>
			<key>phoneNumber</key>
			<string>13244588225</string>
		</dict>
		<dict>
			<key>name</key>
			<string>邢君</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>邢君.png</string>
			<key>phoneNumber</key>
			<string>18516924932</string>
		</dict>
		<dict>
			<key>name</key>
			<string>许阳</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>许阳.png</string>
			<key>phoneNumber</key>
			<string>13333333333</string>
		</dict>
	</array>
	<key>Y</key>
	<array>
		<dict>
			<key>name</key>
			<string>于祥</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>于祥.png</string>
			<key>phoneNumber</key>
			<string>15001126563</string>
		</dict>
		<dict>
			<key>name</key>
			<string>闫奔放</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>闫奔放.png</string>
			<key>phoneNumber</key>
			<string>15988189169</string>
		</dict>
		<dict>
			<key>name</key>
			<string>于鑫</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>于鑫.png</string>
			<key>phoneNumber</key>
			<string>18317713425</string>
		</dict>
		<dict>
			<key>name</key>
			<string>叶继成</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>叶继成.png</string>
			<key>phoneNumber</key>
			<string>15801214161</string>
		</dict>
	</array>
	<key>Z</key>
	<array>
		<dict>
			<key>name</key>
			<string>张中印</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>张中印.png</string>
			<key>phoneNumber</key>
			<string>18317722711</string>
		</dict>
		<dict>
			<key>name</key>
			<string>赵广亮</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>赵广亮.png</string>
			<key>phoneNumber</key>
			<string>15517282860</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张汇川</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>张汇川.png</string>
			<key>phoneNumber</key>
			<string>18790177593</string>
		</dict>
		<dict>
			<key>name</key>
			<string>张腾</string>
			<key>gender</key>
			<string>男</string>
			<key>image</key>
			<string>张腾.png</string>
			<key>phoneNumber</key>
			<string>18500502893</string>
		</dict>
	</array>
</dict>
</plist>
